/* Site Stylesheet
  1. Global Styles
  2. Color Styles
  3. Fonts
  4. Text styles
  5. Section styles

======================================== */

/* 1. Global Styles
======================================== */

a{
    color: white;
    text-decoration: none;
}

/* 2. Color Styles
======================================== */

/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #47F586; }
.My-Color-Theme-2-hex { color: #28A857; }
.My-Color-Theme-3-hex { color: #A84D20; }
.My-Color-Theme-4-hex { color: #168EF5; }
.My-Color-Theme-5-hex { color: #1866A8; }

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(71, 245, 134, 1); }
.My-Color-Theme-2-rgba { color: rgba(40, 168, 87, 1); }
.My-Color-Theme-3-rgba { color: rgba(168, 77, 32, 1); }
.My-Color-Theme-4-rgba { color: rgba(22, 142, 245, 1); }
.My-Color-Theme-5-rgba { color: rgba(24, 102, 168, 1); }

/* Color Theme Swatches in HSLA */
.My-Color-Theme-1-hsla { color: hsla(141, 89, 61, 1); }
.My-Color-Theme-2-hsla { color: hsla(142, 61, 40, 1); }
.My-Color-Theme-3-hsla { color: hsla(19, 68, 39, 1); }
.My-Color-Theme-4-hsla { color: hsla(207, 91, 52, 1); }
.My-Color-Theme-5-hsla { color: hsla(207, 75, 37, 1); }

.about-us h2{
    color:#A84D20;
}


/* 3. Fonts
======================================== */

html{
    font-size: 18px;
}

h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h2{
    max-width: 400px;  
    line-height: 2rem;

}

h1{font-size: 2rem;}
h2{font-size: 1.5rem;}
h3{font-size: 1.25rem;
    line-height: 1.5rem;
    max-width: 600px;}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    max-width: 700px;
    line-height: 1.3rem;
    min-width: 300px;
}
li{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    height: 2rem;
    align-items:center;
}

.results ol{
    list-style: inherit;
    list-style-type: decimal;
}

/* 4. Text styles
======================================== */



/* 5. Section styles
======================================== */

nav{
    width: 95%;
    padding-left: 5%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
    color: white;
    position: fixed;
    top: 0px;
    z-index: 10;
}

nav li{
    display: inline-flex;
    align-self: center;
    padding: 1rem;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

nav #h1{
    margin: auto;
    justify-self: center;
}

nav li:not(:last-child):hover{
    background-color: #A84D20;
}

main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 64px;
}

main .img{
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
}

section.about-us{
    grid-column: 1 / 3;
    display: grid;
    grid-template: 1fr / repeat(8, 1fr);
    grid-auto-flow: column;
    padding: 5% 18%;
    grid-gap: 1rem;
}
.column1{grid-column: 1 / 7;}
.column2{grid-column: 7 / 9;}

.content{
    height: 100%;
    padding: 0px 2rem;
    display: grid;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
    color: white;
    text-align: center;
    opacity: 0;
}

.content:hover{
    opacity: 1;
}

.results-header{
    grid-column: 1 / 3;
    justify-self: center;
    max-width: none;
    text-align: center;
    padding: 2%;
    width: 96%;
    background-color: #168EF5;
    color: white;
}

.results{
    display:grid;
    grid-template: 1fr / repeat(2, 1fr);
    background-color: #168EF5;
    color: white;
}

.results-table{
    display:grid;
    grid-template: 1fr / repeat(2, 1fr);
    grid-template-areas: "header header"
    "date date";
    justify-items: center;
    padding: 1rem;
    grid-gap: 0.5rem;
}

.results-table h3{
    grid-area: header;
}

.results-table time{
    grid-area: date;
}

.newsletterform{
    padding: 4rem 12rem;
    justify-items: center;
    text-align: center;
    display: grid;
    background-color: #1866A8;
    color: white;
}
form{
    margin-top: 2rem;
    display: grid;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: center;
    grid-gap: 1rem;
}
form input{
    padding: 0.3rem 3rem;
    border: none;
    text-align: center;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}
.submit-button{
    justify-self: center;
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 1rem;
    background-color: #47F586;
    color: white;
    border: none;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
}

footer h1{
    align-self: center;
    color: #168EF5
}

footer div{
    align-self: center;
    justify-self: flex-end;
}

.fab{
    font-size: 3rem;
    padding: 1rem;
    color: #168EF5;
    transition: color 0.2s
}
.fab:hover{
    color: #1866A8;;
}

/* Responsive design
======================================== */

@media only screen and (max-width: 1200px) {
    html{
        font-size: 12px;
    }
    .results{
        display:grid;
        grid-template: 1fr / 1fr;
        background-color: #168EF5;
        color: white;
    }
    p{
        max-width: 400px;
        min-width: 200px;
    }
}
    
@media only screen and (max-width: 740px) {
    main{
        grid-template: 1fr / 1fr;
    }
    main .img{
        grid-column: 1 / 2;
    }
    .results-header{
        grid-column: 1 / 2;
        grid-row: unset;
    }
    section.about-us{
        grid-column: 1 / 2;
        grid-template: 1fr / 1fr;
    }
    .column1{grid-column: 1 / 2;}
    .column2{grid-column: 1 / 2;}
}

/* img's
======================================== */

.img1{
    background-image: url('https://dynaimage.cdn.cnn.com/cnn/c_fill,g_auto,w_1200,h_675,ar_16:9/https%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F171227092700-saudi-arabia-chess-israel.jpg');
}
.img2{
    background-image: url('https://static.timesofisrael.com/www/uploads/2019/12/Niki-Riga_-04672-e1576086580839.jpg');
}
.img3{
    background-image: url('https://news.harvard.edu/wp-content/uploads/2019/04/042819_Chess_302_2500-1200x800.jpg');
}
.img4{
    background-image: url('https://mediad.publicbroadcasting.net/p/shared/npr/styles/medium/nprshared/202008/899689979.jpg');
}